<div><div>
<div lang="en-AU" link="#0563C1" vlink="#954F72" style="word-wrap:break-word;">
<div>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">Hi {{greeting}},</p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;" aria-hidden="true">&nbsp;</p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">{{message}}</p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;" aria-hidden="true">&nbsp;</p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">Regards,</p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;" aria-hidden="true">&nbsp;</p>
<div>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><b><span style="color:#032734;font-size:9pt;font-family:Segoe UI,sans-serif;">{{full_name}} </span></b><i><span style="color:#032734;font-size:9pt;font-family:Segoe UI,sans-serif;"></span></i></p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span style="color:#032734;font-size:9pt;font-family:Segoe UI,sans-serif;">{{job_title}}</span></p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span style="color:#032734;font-size:9pt;font-family:Segoe UI,sans-serif;">Microsoft Teams: <a href="callto:{{mail_name}}@gbst.com" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="0">Call</a> or <a href="https://teams.microsoft.com/l/chat/0/0?users={{mail_name}}@gbst.com" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="1">Chat</a></span></p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span style="color:#032734;font-size:9pt;font-family:Segoe UI,sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
<p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><a href="https://www.gbst.com/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="2"><span style="color:windowtext;text-decoration:none;"><img data-imagetype="AttachmentByCid" src="cid:{{company_image}}" data-custom="AAMkADhlYmI1YmU0LTI2NjktNDFjMC04YTkzLTdiMGU5MjNiNWNlYQBGAAAAAAAGHcwEv2k5Q6ASRSQ5F0mTBwB%2FHPUDC94%2BQYFFFCgV6G8%2FAAAAAAEMAADG9P9tzWS2TJamXRRY%2BJq%2BAAIMFKXQAAABEgAQANHDMNTqPF1EmV8N6Xr%2FNbo%3D" naturalheight="0" naturalwidth="0" src="cid:{{company_image}}" border="0" id="x_Picture_x0020_4" style="width: 156.74pt; height: 32.99pt; min-height: auto; min-width: auto;" crossorigin="use-credentials" class="ADIae"></span></a><a href="https://au.linkedin.com/company/gbst" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="3"><span style="color:blue;text-decoration:none;"><img data-imagetype="AttachmentByCid" src="cid:{{linked_in}}" data-custom="AAMkADhlYmI1YmU0LTI2NjktNDFjMC04YTkzLTdiMGU5MjNiNWNlYQBGAAAAAAAGHcwEv2k5Q6ASRSQ5F0mTBwB%2FHPUDC94%2BQYFFFCgV6G8%2FAAAAAAEMAADG9P9tzWS2TJamXRRY%2BJq%2BAAIMFKXQAAABEgAQAIls%2FcCZp4lIoMZ1WRlWYFM%3D" naturalheight="0" naturalwidth="0" border="0" id="x_Picture_x0020_5" style="width: 31.5pt; height: 32.99pt; min-height: auto; min-width: auto;" crossorigin="use-credentials" class="ADIae"></span></a><a href="https://twitter.com/gbstholdings?lang=en" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="4"><span style="color:blue;text-decoration:none;"><img data-imagetype="AttachmentByCid" src="cid:{{twitter}}" data-custom="AAMkADhlYmI1YmU0LTI2NjktNDFjMC04YTkzLTdiMGU5MjNiNWNlYQBGAAAAAAAGHcwEv2k5Q6ASRSQ5F0mTBwB%2FHPUDC94%2BQYFFFCgV6G8%2FAAAAAAEMAADG9P9tzWS2TJamXRRY%2BJq%2BAAIMFKXQAAABEgAQAINqYTFTONJAh9aNUq%2BweE4%3D" naturalheight="0" naturalwidth="0" border="0" id="x_Picture_x0020_6" style="width: 32.99pt; height: 32.99pt; min-height: auto; min-width: auto;" crossorigin="use-credentials" class="ADIae"></span></a></p></div></div></div></div>
</div>